@import url("https://fonts.googleapis.com/css2?family=Silkscreen:wght@400;700&display=swap");

:root {
  /* color */
  --white: hsl(0, 0%, 100%);
  /* bg color */
  --btn-bg: #3b3b4f;
  --primary-bg: #0a0a23;
  --secondary-bg: #1b1b32;
  /* font-family */
  --pixelify-fonts: "Silkscreen";
  --Secondary-font: Arial, Helvetica, sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--Secondary-font);
}

body {
  position: relative;
  background-color: var(--secondary-bg);
}

h1 {
  font-size: 3rem;
  text-align: center;
  color: var(--white);
  padding-block: 1.5rem;
  text-transform: uppercase;
  background-color: var(--primary-bg);
  font-family: var(--pixelify-fonts);
}

main {
  display: flex;
  align-items: center;
  padding-bottom: 5.9rem;
  flex-direction: column;
}

.mainHead {
  font-weight: 600;
  font-size: 1.8rem;
  margin-top: 2.4rem;
  line-height: 2.5rem;
  color: var(--white);
}

.mainHead div {
  text-align: center;
}

.headNotice {
  font-size: 1.2rem;
  text-align: center;
}

.points {
  display: flex;
  column-gap: 5rem;
}

.points div {
  text-align: center;
}

.empty {
  font-size: 4.5em;
  margin-block: 1.5rem 0;
}

.score {
  font-weight: 600;
  font-size: 1.3rem;
  color: var(--white);
  margin-block: 1.5rem 3.5rem;
  font-family: Arial, Helvetica, sans-serif;
}

#emojis {
  display: flex;
  font-size: 4rem;
}

.emoji {
  display: flex;
  padding: 2rem;
  border-radius: 10px;
  align-items: center;
  justify-content: center;
  background-color: var(--btn-bg);
}

.emoji:not(:first-child) {
  margin-inline: 2rem 0;
}

.emoji:hover {
  cursor: pointer;
  background-color: #60607c;
}

/* popup */

#overlayPopup {
  width: 100%;
  height: 100%;
  display: none;
}

#popup {
  top: 50%;
  left: 50%;
  z-index: 2;
  padding: 4rem 3rem;
  position: absolute;
  text-align: center;
  border-radius: 12px;
  transform: translate(-50%, -50%);
  background-color: var(--secondary-bg);
}

.text {
  font-size: 2.5rem;
  margin-bottom: 2rem;
  color: var(--white);
}

button {
  font-size: 1.5rem;
  border-radius: 8px;
  padding: 0.5rem 1.5rem;
  background-image: linear-gradient(#fecc4c, #ffac33);
}

button:hover {
  cursor: pointer;
}

.active #overlay {
  inset: 0;
  z-index: 1;
  opacity: 0.4;
  position: absolute;
  background-color: #000;
}
